@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: #d65db1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #845ec2, #d65db1);
  background: linear-gradient(to right, #d65db1, #fefedf);
  font-family: "Pangolin", cursive;
  font-size: 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* cover */
.cover {
  border-radius: 50%;
  height: 80vmin;
  width: 80vmin;
  background-color: #ff928136;
}

.text {
  position: absolute;
  top: 60vmin;
  left: 70vmin;
}
/* shape */
.shape {
  background: #f0ff2663;
  height: 32vmin;
  border: 1vmin solid #5c2121;
  width: 32vmin;
  border-radius: 2vmin;
  border-top-left-radius: 20vmin;
  border-top-right-radius: 18vmin;
  position: relative;
  border-bottom-left-radius: 20vmin;
  left: 33vmin;
  top: 21vmin;
}
.border {
  position: relative;
  border: 5px solid rgb(91, 5, 5);
  border-top-left-radius: 24vmin;
  border-top-right-radius: 21vmin;
  border-bottom-left-radius: 23vmin;
}
.border::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
  border-top-left-radius: 22vmin;
  border-top-right-radius: 22vmin;
  border-bottom-left-radius: 22vmin;
}
/* eyes */

.eyes {
  position: relative;
  background: #444444;
  height: 4.5vmin;
  width: 4.5vmin;
  top: 9vmin;
  left: 8.3vmin;
  box-shadow: 12vmin 0 #444444;
  border-radius: 50%;
}

.eyes::after {
  content: "";
  position: absolute;
  background: white;
  height: 1vmin;
  width: 1vmin;
  border-radius: 50%;
  left: 2.5vmin;
  top: 1vmin;
  box-shadow: 10.3vmin 0 white;
}

/* nose */

/* nose */
/* lips */

.lips {
  position: relative;
  height: 1.5vmin;
  width: 2vmin;
  border-radius: 0 0 3vmin 3vmin;
  border-width: medium;
  top: 14.5vmin;
  left: 10.3vmin;
}
.lips::before {
  content: "";

  /* background: #f9ed7c; */
}
.lips::after {
  content: "";
  position: absolute;
  width: 4vmin;
  height: 2vmin;
  border: 0.7vmin solid black;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: 0;
  top: -5vmin;
  left: 4.1vmin;
}
/* circle */
.circle {
  position: relative;
  background: #ffe82e;
  border-radius: 50%;
  height: 10vmin;
  width: 11vmin;
  left: 10.5vmin;
  top: 11vmin;
  border: 0.5vmin solid #444444;
}
.shadow {
  position: relative;
  background: #ff9281;
  width: 6vmin;
  height: 3vmin;
  top: 8.5vmin;
  left: 2vmin;
  border-radius: 50%;
  opacity: 0.4;
}
.shadow::after {
  position: absolute;
  content: "";
  width: 6vmin;
  height: 3vmin;
  background: #ff9281;
  border-radius: 50%;
  left: 21vmin;
}
/* .circle{
    
} */
